

@{
    ViewData["Title"] = "Home Page";
}


<div>
    <h1 class="display-4">Home</h1>
    <p>Создание путём перехода на страницу /Work/GetWorks: <a  asp-area="" asp-controller="Work" asp-action="GetWorks">GetWorks</a> При этом создаются новые тестовые следующие позиции в БД.</p>
    

    
    @{
        <table frame="void" rules="cols">
            <tr>
                <th width="100" height="15">
                    Id
                </th>
                <th width="230" height="15">
                    NameTask
                </th>
                <th width="150" height="15">
                    TaskNumber
                </th>
                <th width="150" height="15">
                    Description
                </th>
                <th width="150" height="15">
                    Customer
                </th>
                <th width="150" height="15">
                    AdressTask
                </th>
                <th width="100" height="15">
                    Price
                </th>
                <th width="100" height="15">
                    TypeWork
                </th>

            </tr>
        </table>
    }
    @{
        <style>

            table {
                border: 1px solid grey;
                border-collapse: collapse;
            }
        </style>
        <table frame="void" rules="cols">
            <tr>
                <th width="100" height="15">
                   
                </th>

                <th width="230" height="15">

                    Замена видеорегистратора

                </th>

                <th width="150" height="15">

                    3028

                </th>

                <th width="150" height="15">

                    В салоне пришёл новый регистратор, необходимо заменить, установленный отдать продавцам

                </th>
                <th width="150" height="15">

                    Линии любви

                </th>
                <th width="150" height="15">

                    г. Орёл, ул. Революции, 38

                </th>
                <th width="100" height="15">

                    1500

                </th>
                <th width="100" height="15">

                   Свободна

                </th>

            </tr>
        </table>
    }
    @{
        <table frame="void" rules="cols">
            <tr>
                <th width="100" height="15">
                   
                </th>

                <th width="230" height="15">

                    Замена моноблока

                </th>

                <th width="150" height="15">

                    3029

                </th>

                <th width="150" height="15">

                    Установить моноблок на рабочее место, подключить периферию

                </th>
                <th width="190" height="15">

                    585

                </th>
                <th width="150" height="15">

                    г. Орёл, ул. Революции, 38

                </th>
                <th width="100" height="15">

                    1600

                </th>
                <th width="100" height="15">

                    Свободна

                </th>

            </tr>
        </table>
    }
    

    <p>Страница /Home/Privacy:
    <a asp-area="" asp-controller="Home" asp-action="Privacy">Загрузить список всех позиций из БД, только просмотр</a>
    </p>
    <p>
        Страница/Home/NewCreate:
        <a asp-area="" asp-controller="Home" asp-action="NewCreate">Добавить объект в БД</a>
    </p>
    
    <p>
        Страница/Home/GetPosition:
        <a asp-area="" asp-controller="Home" asp-action="GetPosition">Список объектов в БД, изменить, удалить</a>
    </p>
</div>




